@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom-radio.css */

/* Change the radio button border and background color */
/* .ant-radio .ant-radio-inner {
  border-color: red;
} */

.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: red;
}

.ant-radio-checked .ant-radio-inner {
  background-color: red !important;
  border-color: red !important;
}

.ant-radio-inner::after {
  background-color: #fff; /* Change the dot color inside the radio button */
}

/* Change the label color if needed */
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner {
  border-color: gray;
}
.ant-select-item-option-content {
  overflow: initial;
}
body {
  background-color: #f5f5f5;
}

:root {
  --primary-color: #cf2338;
  --secondary-color: #e9424d;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}
