@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #CF2338; 
    --secondary-color: #E9424D;
  }
  
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}